  footer {
    color: black;
    padding: 20px 0;
    margin-top: 800px;
  }
  

  .footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #9c9999;
  }

  